body
{
}
*,
*::before,
*::after{
    box-sizing:border-box;

}

/*custom properties */
:root{
    
   --ff-primary:sans-serif;
   --ff-secondary:monospace;

   --fw-reg:300;
   --fw-bold:900;


   --clr-bg:#fff;
   --clr-text:#303030;
   --clr-accent:#16e0bd;


   --fs-h1:3rem;
   --fs-h2:2.5rem;
   --fs-h3:1.5rem;
   --fs-body:1.125rem; 


   --bs:0.25em 0.25em 0.75em rgba(0,0,0,0.25),
       0.125em 0.125em  0.25em rgba(0,0,0,0.15);
}
/* for larger screen sizes */
@media(min-width:800px){
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 3rem;
        --fs-body: 1.125rem;
    }
}

/*General styles */



/*adding a cute UX */
html{
 scroll-behavior:smooth;
}

    


body {
    background: var(--clr-bg);
    color: var(--clr-text);
    margin:0;
    font-family:var(--ff-primary);
    font-size:var(--fs-body);
    line-height:1.6;

}
img{
    display:block;
    max-width:100%;

}
section{
    padding:5em 2em;
}

strong{
    font-weight:var(--fw-bold);
}
:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}
.btn{
    display:inline-block;
    padding:.5em 1.5em;
    background:var(--clr-accent);
    color:var(--clr-text); 
    cursor:pointer;
    text-decoration:none;
    text-transform:uppercase;
    letter-spacing:2px;
    font-size:0.8em;
    font-weight:var(--fw-bold);
    transition:transform 200ms ease-in-out;
  


}
.btn:hover{
    transform:scale(1.1);

}
.services{
    margin-bottom:4em;
}


/*Typography*/
h1,
h2,
h3{
    line-height:1;
    margin:0;

}
h1{
    font-size:var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}
h3 {
    font-size: var(--fs-h3);
}


.section __title {
    margin-bottom: 0.25em;
}
.section__title--intro {
    font-weight: var(--fw-reg);
    margin-bottom: 0.25em;
}

    .section__title--intro strong{
        display:block;
    }
    .section__subtitle {
        margin: 0;
        font-size: var(--fs-h3);
    }
.section__subtitle--intro,
.section__subtitle--about{
    background-color:var(--clr-accent);
    font-family:var(--ff-secondary);
    margin-bottom:1em;


}
.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 1em;
}

/*header*/

header{
    display:flex;
    justify-content:space-between;
  padding:1em;

     
}


.logo{
    max-width:100px;

}
.nav {
    position: fixed;
    background-color: var(--clr-text);
    color: var(--clr-bg);
    /*making nav fill all the screen */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:1000;/* in front of every class stylings */


    transform:translateX(100%);
    transition:transform 250ms cubic-bezier(0.5,0,0.5,1);


}
.nav__list{
    list-style:none;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    margin:0;
    padding:0;


}
.nav__link{
    color:inherit;
    font-weight:var(--fw-bold);
    font-size:var(--fs-h1);
    text-decoration:none;
    

}
.nav__link:hover{
   color:var(--clr-accent);
}
.nav-toggle{
  background:transparent;
  border:0;
  padding:0.25em;
  cursor:pointer;
  z-index:1001;


}


.hamburger{
    
    display:block;
    position:relative;
}

    .hamburger,
    .hamburger::before,
    .hamburger::after {
        background: var(--clr-accent);
        width: 2em;
        height: 3px;
        border-radius: 1em;
        transition:transform 250ms ease-in-out;

    }



   .hamburger::before,
   .hamburger::after{
    content:'';
    position:absolute;
   left:0;
   right:0;

}
   .hamburger::before{top:6px;}
   .hamburger::after{bottom:6px;}


.nav-open {
  

}


.nav-open .nav{
    transform:translateX(0);
}

.nav open .nav-toggle{
    position:fixed;  /* returns to the desired destination after getting out from the nav open  styling effects*/


}
.nav-open .hamburger{
    transform:rotate(3600deg);
   
}



                                           /*intro section */

.intro{
    position:relative;

}
.intro__img{
    box-shadow:var(--bs);
  
}
.section__subtitle--intro{
    display:inline-block;

}
@media (min-width:600px) {
    .intro {
        display: grid;
        /*width:min-width;*/
        margin: 0 auto;
        grid-template-areas: "img title " "img subtitle";
        grid-template-columns: min-content max-content;
        grid-column-gap: 1em;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
    }

    .section__subtitle--intro {
        /* align-self:start;*/
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        /* width:calc(100%+1.5em);*/
    }
}
    /*  My services section */
.my-services {
    background-color: var(--clr-bg);
    background-image: url('shreif 1.jpeg') ;
    
   
    background-size: cover;
     background-blend-mode:multiply;
      /*to make the text more readabile than the background image */
    color: var(--clr-text);
    text-align: center;
}

    .section__title--services {
        color: var(--clr-accent);
        position: relative;
    }

        .section__title--services::after {
            content: '';
            display: block;
            width: 25%;
            height: 1px;
            margin: 0.5em auto 1em;
            background: var(--clr-text);
            opacity: 0.5;
        }

    @media(min-width:800px)
    {
        .services{
            display:flex;
            max-width:1000px;
            margin:0 auto;

        }
        .service + .service{
            margin-left:2em;
        }
    }


    .about-me{
        max-width:1000px;
        margin:0 auto;
    }
    .about-me__img{
        box-shadow:var(--bs);

    }

@media(min-width:600px) 
{
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }
   

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-row: 2;
        grid-column: 1/-1;
        position:relative;
        left:-2em;
         
    }

    .about-me__img {
        grid-area: img;
        position:relative;
        z-index:2;
      
    }
}
/* My work */
.my-work{
    background-color:var(--clr-bg);
     color:var(--clr-text);
     text-align:center;


}

.portfolio{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
}
.portfolio__item{
    background:var(--clr-accent);
    overflow:hidden;

}
.portfolio__img{
    transition:transform 750ms cubic-bezier(.5,0,.5,1) ,
        opacity 250ms linear;
}
.portfolio__img:hover,
.portfolio__item:focus .portfolio__img{
    transform:scale(1.25);
    opacity:0.75;

}


/*added by me stuff */


#hireme{
  margin-left:40em;
}
.animation-staff{
    transform:rotate(90deg);
    
}
.videos{
    height:360px;
    width:640px;
}
.slider{

}
.slider button{


}


.slider button:hover{
    filter:blur(2px);

}
